<div class="signup-form">

  <h2>Pets of Berlin</h2>
  <br><br>
  <h3>Your Profile</h3>
  <br><br>

  <p class="details"> Hi {{userInfo.username}}, that's your name right?
    Welcome to pets of Berlin, nice to have you here!</p>



  <br><br>


  <input class="button-login" type="button" onclick="location.href='/';" value="View Map" />

  <input class="button-login" type="button" onclick="location.href='/auth/new-pet';" value="Create Pet" />


</div>
<br><br>

<h3>{{userInfo.username}}'s Pets: </h3>

<br><br>


{{#each pets}}
<div class="petwrap">
  <a href="/new-pet/{{this.avatarUrl}}">Photo: {{this.avatarUrl}}</a>
  <br>
  <a href="/new-pet/{{this.id}}">Name: {{this.name}}</a>
  <br>
  <a href="/new-pet/{{this.colour}}">Colour: {{this.colour}}</a>
  <br>
  <a href="/new-pet/{{this.age}}">Age: {{this.age}}</a>
  <br>
  <a href="/new-pet/{{this.animalFamily}}">Animal Family: {{this.animalFamily}}</a>
</div>

<br>

<form action="/new-pet/{{this.id}}/edit" method="get">
  <div><button type="submit" class="">Edit this pet</button></div>
</form>

<form action="/new-pet/{{this.id}}/delete" method="post">
  <div><button type="submit" class="">Dead? Delete it here</button></div>
</form>

<br>
<br>
{{/each}}